<h2>All Flights</h2>

<ul>
<% @flights.each do |f| %>
  <li>
    <%= @flight.date %>
    <%= @flight.flight_number %>
    <%= @flight.origin %>
    <%= @flight.destination %>  
    <%= @flight.airplane_id %>
  </li>
<% end %>
</ul>
