<h2>All Airplanes</h2>

<ul>
<% @airplanes.each do |f| %>
  <li>
    <%= @airplane.name %>
    <%= @airplane.row %>
    <%= @airplane.column %>
    <%= @airplane.created_at %>
    <%= @airplane.updated_at %>
  </li>
<% end %>
</ul>
